<%= simple_form_for(@fail) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, as: :text, input_html: {rows: "5" } %>
    <%= f.input :lesson, as: :text, input_html: {rows: "5" } %>
  </div>
<br />
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
