<h1>Listing fails</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Lesson</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fails.each do |fail| %>
  <tr>
    <td><%= fail.name %></td>
    <td><%= fail.description %></td>
    <td><%= fail.lesson %></td>
    <td><%= fail.user.name %></td>
    <td><%= link_to 'Show', fail %></td>
    <% if current_user == fail.user %>
      <td><%= link_to 'Edit', edit_fail_path(fail) %></td>
      <td><%= link_to 'Destroy', fail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fail', new_fail_path %>
