<div class="row">
  
  <p id="notice"><%= notice %></p>
  
  <div class="col-md-3">
    <br />
    <img class="img-circle" src="/assets/guest.png">
    <br>
    <h3>User Name</h3>
  </div>
  
  <div class="col-md-6">
    
<% @fails.each do |fail| %>
<div class="col-md-12">
  <h3>
    <span class="content"><%= link_to fail.name, fail %></span>
  </h3>
  <span class="timestamp">
    Shared <%= time_ago_in_words(fail.created_at) %> ago by <%= link_to fail.user.name, fail.user %><br>
    Tags: <%= raw fail.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %><br>
    <%= pluralize fail.reputation_for(:votes).to_i, "Love" %>
    <% if current_user && !current_user.voted_for?(fail) %>
      | <%= link_to "Give love!", vote_fail_path(fail, type: "up"), method: "post" %>
    <% end %>
    <br />
  </span>
  <br />
</div>
<% end %>

<!--

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Lesson</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fails.each do |fail| %>
  <tr>
    <td><%= fail.name %></td>
    <td><%= fail.description %></td>
    <td><%= fail.lesson %></td>
    <td><%= fail.user.name %></td>
    <td><%= link_to 'Show', fail %></td>
    <% if current_user == fail.user %>
      <td><%= link_to 'Edit', edit_fail_path(fail) %></td>
      <td><%= link_to 'Destroy', fail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table> -->

<br />

<%= link_to 'New Fail', new_fail_path %>
    
  </div>
  
  <div class="col-md-3">
    <h3>Get Started</h3>
    <ul>
      <li>Share a fail</li>
      <li>Invite Someone</li>
      <li>Contribute a Post</li>
      <li>Complete Profile</li>
      <li>Upload Your Logo</li>
      <li>Follow a Member</li>
    </ul>
    <br>
    <h3>Community</h3>
    <ul>
      <li><%= link_to 'Newest Failures', users_path %></li>
      <li><%= link_to 'View All Failures', users_path %></li>
    </ul>
      <%= link_to 'Invite Failures', users_path, class: 'btn btn-success' %>
    <br>
    <br>
    <h3>Popular Tags</h3>
    
    <div id="tag_cloud">
      <% tag_cloud Fail.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </div>

  </div>  

</div>
