<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fail.name %>
</p>

<p>
  <b>Description:</b>
  <%= @fail.description %>
</p>

<p>
  <b>Lesson:</b>
  <%= @fail.lesson %>
</p>

<p>
  <b>User:</b>
  <%= fail.user.name %>
</p>

<% if current_user == pin.user %>
  <%= link_to 'Edit', edit_fail_path(@fail) %> |
<% end %>
<%= link_to 'Back', fails_path %>
