<div class="row">
  <div class="col-md-3">
    <h3>
      <%= gravatar_for @user %><br><br>
      <%= @user.name %>
    </h3>
        <%= render 'shared/stats' %>
    <br />
        <%= render 'follow_form' if signed_in? %>  
  </div>
  <div class="col-md-6">
    <% if @user.fails.any? %>
      <h3>Fails (<%= @user.fails.count %>)</h3>
      <ol class="fails">
        <%= render @fails %>
      </ol>
    <% end %>
  </div>
  
    <div class="col-md-3">
    <h3>Categories</h3>
    <ul class="list-unstyled">
      <li>Startups</li>
      <li>Photography</li>
      <li>Cooking</li>
      <li>Life</li>
      <li>Love</li>
     </ul>
  </div>  
</div>